<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
<h1 style="text-align: center">로또 게시판</h1>
<hr>    
<div class="container">
    <form action="/board/read_lotto" method="POST">
      <div class="form-group">
        <label for="num">번호</label>
        <input name="num" type="text" class="form-control" placeholder="로또 번호를 입력하세요. ( 1 ~ 45 ㅎ)">
      </div>
      
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>
