<h1 style="text-align: center">게시판</h1>

<div class="container">
    <form action="/board/read" method="POST">
      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
      </div>
      <div class="form-group">
        <label>글쓴이</label>
        <input type="text" class="form-control" id="writer" name="writer" placeholder="글쓴이를 입력하세요.">
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>  
      </div>
    
      <button type="submit" class="btn btn-default">제출</button>
    </form>
</div>