<div class="container">
    <h1>Board#index</h1>
    <p>Find me in app/views/board/index.html.erb</p>

    <hr>
    <h1><a href="/board/list">Free</a></h1>
    <h1><a href="/board/list_lotto">Lotto</a></h1>

</div>
